html{
    background-color:#FAFF81 ;
}

.contenedor{
    width:80% ;
    margin: auto;
    background-color: #E7F59E;
    padding: 20px;
}

h2{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    background-color: #FFBF00;
    padding: 10px;
    border: black 3px solid;
    border-style: groove;
    border-radius: 20px;
}

h3{
    font-style: italic;
    text-decoration:underline;
}

.inicio{
    font-size: 30px;
    color: #DB3A34;
    padding: 10px;
    border: #DB3A34 3px solid;
    border-radius: 20px;
    text-align: center;
}

.recuadroblanco{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:20px ;
    box-sizing: border-box; /*lo ajusta al ancho del contenedor*/
    font-size: 20px;
    background-color: #F2F5DE;
    border: black 3px solid;
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.recuadroblanco:hover{
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.recuadronaranja{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:20px ;
    box-sizing: border-box; /*lo ajusta al ancho del contenedor*/
    font-size: 20px;
    background-color:#FCCA46;
    border: black 3px solid;
    height: auto;
    width: 100%;
    border-radius: 20px;
}