html{
    background-color: rgb(90, 81, 81);
}

.contenedor{
    width: 60%;
    margin: auto;
    background-color:gray ;
    padding: 20px;
    border: ridge
}

.gridbox{
    display: grid;
    margin: center;
    grid-template-columns: minmax(100px,400px);
    grid-template-rows: 100px 100px 100px;
    height: 950px;
    row-gap: 5px;
    column-gap: 10px;
}

.griditem{
    background-color: rgb(65, 208, 212);
    margin: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0px 10px 10px rgb(41, 100, 228);
}

.griditem:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 40px;
    padding: 10px 20px 20px 20px;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    border: white 3px solid;
    border-style: solid;
}

.griditem:first-child:hover{
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.griditem:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 40px;
    padding: 10px 20px 20px 20px;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    border: white 3px solid;
    border-style: solid;
}

.griditem:nth-child(5):hover{
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.griditem:nth-child(6){
    grid-column-start: 1;
    grid-column-end: 3;
}

.griditem:nth-child(6):hover{
    transform: translateX(50%);
    transition: all 1s ease;
}

.griditem:nth-child(7){
    grid-column-start: 2;
    grid-column-end: 4;
}

.griditem:nth-child(7):hover{
    transform: translateX(-50%);
    transition: all 1s ease;
}

.griditem:nth-child(8){
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    border: white 3px solid;
    border-style: solid;
}

.griditem:nth-child(8):hover{
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.griditem:nth-child(9){
    grid-column-start: 1;
    grid-column-end: 3;
}

.griditem:nth-child(9):hover{
    transform: translateX(50%);
    transition: all 1s ease;
}

.griditem:nth-child(10){
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    border: white 3px solid;
    border-style: solid;
}

.griditem:nth-child(10):hover{
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.griditem:nth-child(11){
    grid-column-start: 2;
    grid-column-end: 4;
}

.griditem:nth-child(11):hover{
    transform: translateX(-50%);
    transition: all 1s ease;
}

